---
http_interactions:
- request:
    method: get
    uri: https://postcodes.io/postcodes/N1%208JG/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"1c-sATL+LXeOWfLLqQwV2reomyUCpI"
    body:
      encoding: UTF-8
      string: '{"status":200,"result":true}'
  recorded_at: Thu, 12 Nov 2020 13:56:44 GMT
- request:
    method: get
    uri: https://postcodes.io/postcodes/N1%208JG
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"328-hpVV1LTF4G1e0Sg+znWZZiJe3ZE"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"N1 8JG","quality":1,"eastings":531823,"northings":183564,"country":"England","nhs_ha":"London","longitude":-0.100772,"latitude":51.535597,"european_electoral_region":"London","primary_care_trust":"Islington","region":"London","lsoa":"Islington
        020C","msoa":"Islington 020","incode":"8JG","outcode":"N1","parliamentary_constituency":"Islington
        South and Finsbury","admin_district":"Islington","parish":"Islington, unparished
        area","admin_county":null,"admin_ward":"St Peter''s","ced":null,"ccg":"NHS
        North Central London","nuts":"Haringey and Islington","codes":{"admin_district":"E09000019","admin_county":"E99999999","admin_ward":"E05000380","parish":"E43000209","parliamentary_constituency":"E14000764","ccg":"E38000240","ccg_id":"93C","ced":"E99999999","nuts":"UKI43"}}}'
  recorded_at: Thu, 12 Nov 2020 13:56:44 GMT
- request:
    method: get
    uri: https://postcodes.io/postcodes%2FN1+8JG%2Fvalidate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"1d-kGyXwetKmZjsFg8WnsDgYjXmbe8"
    body:
      encoding: UTF-8
      string: '{"status":200,"result":false}'
  recorded_at: Thu, 12 Nov 2020 14:01:56 GMT
recorded_with: VCR 6.0.0
