---
http_interactions:
- request:
    method: get
    uri: https://postcodes.io/postcodes/SE1%207QD/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"1c-sATL+LXeOWfLLqQwV2reomyUCpI"
    body:
      encoding: UTF-8
      string: '{"status":200,"result":true}'
  recorded_at: Thu, 12 Nov 2020 13:56:44 GMT
- request:
    method: get
    uri: https://postcodes.io/postcodes/SE1%207QD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"328-u44qY7noxu73p14ob4V/i1XG2UY"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"SE1 7QD","quality":1,"eastings":531513,"northings":179395,"country":"England","nhs_ha":"London","longitude":-0.106793,"latitude":51.498204,"european_electoral_region":"London","primary_care_trust":"Southwark","region":"London","lsoa":"Southwark
        034A","msoa":"Southwark 034","incode":"7QD","outcode":"SE1","parliamentary_constituency":"Bermondsey
        and Old Southwark","admin_district":"Southwark","parish":"Southwark, unparished
        area","admin_county":null,"admin_ward":"St George''s","ced":null,"ccg":"NHS
        South East London","nuts":"Lewisham and Southwark","codes":{"admin_district":"E09000028","admin_county":"E99999999","admin_ward":"E05011114","parish":"E43000218","parliamentary_constituency":"E14000553","ccg":"E38000244","ccg_id":"72Q","ced":"E99999999","nuts":"UKI44"}}}'
  recorded_at: Thu, 12 Nov 2020 13:56:44 GMT
- request:
    method: get
    uri: https://postcodes.io/postcodes%2FSE1+7QD%2Fvalidate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"1d-kGyXwetKmZjsFg8WnsDgYjXmbe8"
    body:
      encoding: UTF-8
      string: '{"status":200,"result":false}'
  recorded_at: Thu, 12 Nov 2020 14:01:56 GMT
recorded_with: VCR 6.0.0
